@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

:root {
  --primary-color: rgb(117, 124, 153);
  --primary-color-darker: rgb(87, 92, 105);
}

* {
  box-sizing: border-box;
  outline: 0;
}

.paragrafo-resultado {
  background: rgb(109, 255, 182);
  padding: 10px 20px;
  border-radius: 15px;
}

.bad {
  background: rgb(255, 150, 150);
  padding: 10px 20px;
  border-radius: 15px;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: "Open sans", sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 550px;
  margin: 60px auto;
  background: #fff;
  padding: 30px;
  border-radius: 15px;
}

form input,
form label,
form button {
  display: block;
  width: 100%;
  margin-bottom: 5px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 20px;
  font-weight: 1000;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
  border-radius: 15px;
}

form button:hover {
  background: var(--primary-color-darker);
}

@media (max-width: 767px) {
  body {
    font-size: 1.1em;
  }

  .container {
    padding: 20px;
  }

  form input {
    font-size: 20px;
    height: 40px;
    padding: 0 10px;
  }

  button {
    margin: 0 5px;
    font-size: 18px;
    height: 40px;
  }
}
